###############################################################
#                   Authelia configuration                    #
###############################################################

server:
  host: 0.0.0.0
  port: 9091

jwt_secret: passwordpasswordpasswordkey123
log:
  level: debug

default_redirection_url: https://authelia.jaronity.com
totp:
  issuer: jaronity.com
  period: 30
  skew: 1

#duo_api:     ## You can use this api if you want push notifications of auth attempts
#  hostname: api-123456789.example.com
#  integration_key: ABCDEF
#  secret_key: yet-another-long-string-of-characters-and-numbers-and-symbols

authentication_backend:
  disable_reset_password: false
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 1
      salt_length: 16
      parallelism: 8
      memory: 64
      
access_control:
  default_policy: deny
  rules:
    # Rules applied to everyone
    #    - domain:
    #    - "mui.jaronity.com"
    #  policy: one_factor
    - domain:
        - "mui.jaronity.com"
      policy: two_factor
#       networks:
#        - 192.168.1.0/24
#      policy: two_factor
#     networks:
#       - 192.168.1.0/24

session:
  name: authelia_session
  # This secret can also be set using the env variables AUTHELIA_SESSION_SECRET_FILE
  secret: passwordkey123
  expiration: 3600 # 1 hour
  inactivity: 7200 # 2 hours
  domain: jaronity.com # Should match whatever your root protected domain is

  redis:
    host: redis
    port: 6379
    # This secret can also be set using the env variables AUTHELIA_SESSION_REDIS_PASSWORD_FILE
#    password: authelia

regulation:
  max_retries: 5
  find_time: 2m
  ban_time: 10m
  
theme: dark

storage:
  encryption_key: passwordpasswordpasswordkey123
  local:
    path: /config/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt
#  smtp:
#    username: <your@email-here.com>
#    password: <your-smtp-password>
#    host: <your-smtp-server.url>
#    port: 25,465,or 587
#    sender: <sender@email-here.com>
#    subject: "[Authelia] {title}"
#    disable_require_tls: false
#    disable_html_emails: false
#    tls:
#      server_name: <your-smtp-server.url>
#      skip_verify: false
#      minimum_version: TLS1.2
